body {
    background: rgb(14, 19, 41);
    color: forestgreen;
}

.title {
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.button {
  cursor: pointer;
  color: forestgreen;
  text-align: center;
  margin-right: 1000px;
  margin-top: 200px;
}

.button:hover {
  outline: 2px solid red;
}

.button:hover {
  color: red;
}


.subtitle{
    text-align: center;
    margin-top: -20px;
    font-size: 19px;
}