body {
    background: rgb(14, 19, 41);
    color: forestgreen;
}

.title {
    text-align: center;
    justify-content: center;
    font-size: 25px;
}

.botao {
  cursor: pointer;
  color: forestgreen;
  text-align: center;
  margin-bottom: ;
}

.botao:hover {
  color: red;
}


.subtitle{
    text-align: center;
    margin-top: -20px;
    font-size: 19px;
}