@font-face {
  font-family: 'RiotBlock';
  src: url('../fonts/RiotBlock.woff2') format('woff2'),
       url('../fonts/RiotBlock.woff') format('woff'),
       url('../fonts/RiotBlock.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
    background: rgb(14, 19, 41);
    color: forestgreen;
}

.title {
    text-align: center;
    justify-content: center;
    font-size: 25px;
    font: 100;
font-family: 'RiotBlock', ;
}
.subtitle {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin-top: -20px;
    font-family: 'RiotBlock', sans-serif;
}

button {
  background-color: forestgreen;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 20px;
  letter-spacing: 3px;
  font-size: 20px;
  box-shadow: 3px 3px 3px rgb(39, 78, 196);
  transition: 0.5s;
  margin-left: 120px;
  margin-top: 60px;
}

button:hover {
  background-color:rgb(255, 0, 255);
  transform: scale(1.1);
  box-shadow: 3px 3px 3px rgb(251, 255, 0);
}
